<div class="hero-wrapper">
  <h1 class='mybema-title'>
    Find the best Instagram hashtags
  </h1>

  <div class='hero-list'>
    <p>
      Your Instagram account probably has some amazing shots, right? Now you can get them noticed by thousands of other instagrammers. Sign up and let our intelligent filter find you the best hashtags. Get free trending superpowers by discovering which tags work best for right this moment!
    </p>
  </div>

  <div class='hero-cta-wrapper'>
    <%= button_to '/auth/instagram', class: 'hero-cta' do %>
      <span class="nav-icon icon-instagram"></span>
      <span class='link-text'>SIGN IN WITH INSTAGRAM</span>
    <% end %>
  </div>

  <%= image_tag 'graph.png', style: 'width: 70%; margin: 0px auto; position: absolute; display: block; z-index: -1; opacity: 0.2; bottom: 120px; left: 0; right: 0;' %>
</div>

<div class='benefit-wrapper'>
  <div style='margin: 0 auto; width: 80%; padding: 4em 0;'>
    <div style='width: 40%; display: inline-block; vertical-align: top; text-align: left; font-size: 1.5em;'>
      <h3 style='margin-top: 0;'>Lorem Ipsum</h3>

      <div class='section-descriptor' style='margin: 0;'>
        Customers that engage in brand communities lead to increased revenue. That's the bottom line. But here are 6 other reasons to help convince you.
      </div>
    </div>

    <div style='width: 40%; display: inline-block; text-align: left;'>
      <span class='example-tag'>
        <%= link_to '#moodygrams', 'https://www.instagram.com/explore/tags/moodygrams/' %>
      </span>

      <span class='example-tag'>
        <%= link_to '#illgrammers', 'https://www.instagram.com/explore/tags/illgrammers/' %>
      </span>

      <span class='example-tag'>
        <%= link_to '#way2ill', 'https://www.instagram.com/explore/tags/way2ill/' %>
      </span>

      <span class='example-tag'>
        <%= link_to '#createexplore', 'https://www.instagram.com/explore/tags/createexplore/' %>
      </span>

      <span class='example-tag'>
        <%= link_to '#snobshots', 'https://www.instagram.com/explore/tags/snobshots/' %>
      </span>

      <span class='example-tag'>
        <%= link_to '#shotaward', 'https://www.instagram.com/explore/tags/shotaward/' %>
      </span>

      <span class='example-tag'>
        <%= link_to '#shoot2kill', 'https://www.instagram.com/explore/tags/shoot2kill/' %>
      </span>

      <span class='example-tag'>
        <%= link_to '#thecoolmagazine', 'https://www.instagram.com/explore/tags/thecoolmagazine/' %>
      </span>
    </div>
  </div>
</div>

<div class='mybema-benefits'>
  <h1 class='mybema-benefits-header'>
    Why you should use Mybema for your community
  </h1>

  <div class='section-descriptor'>
    Whether you want a community for your products, your brand, a sports team, or an interest group, Mybema offers the following benefits.
  </div>

  <br />

  <div class='mybema-benefits-list'>
    <div class='mybema-benefits-list--item'>
      <i class='icon-benefit'></i>
      Start a community for free.
    </div>

    <div class='mybema-benefits-list--item'>
      <i class='icon-benefit'></i>
      Be up and running in minutes.
    </div>

    <div class='mybema-benefits-list--item'>
      <i class='icon-benefit'></i>
      Get SEO benefits from the content generated in your community.
    </div>

    <div class='mybema-benefits-list--item'>
      <i class='icon-benefit'></i>
      Add informative articles to an accessible knowledgebase.
    </div>

    <div class='mybema-benefits-list--item'>
      <i class='icon-benefit'></i>
      Improve customer satisfaction levels by participating in discussions.
    </div>

    <div class='mybema-benefits-list--item'>
      <i class='icon-benefit'></i>
      Protect your brand's reputation by putting fires out early.
    </div>

    <div class='mybema-benefits-list--item'>
      <i class='icon-benefit'></i>
      Having your customers participate in your community reduces churn.
    </div>

    <div class='mybema-benefits-list--item'>
      <i class='icon-benefit'></i>
      Access your community's dashboard from any device.
    </div>

    <div class='mybema-benefits-list--item'>
      <i class='icon-benefit'></i>
      Start and nurture real relationships with profitable customers.
    </div>

    <div class='mybema-benefits-list--item'>
      <i class='icon-benefit'></i>
      Easily crowdsource new ideas via your community's discussions.
    </div>

    <div class='mybema-benefits-list--item'>
      <i class='icon-benefit'></i>
      Engage your most enthusiastic fans and advocates.
    </div>

    <div class='mybema-benefits-list--item'>
      <i class='icon-benefit'></i>
      Lower your customer support costs
    </div>
  </div>
</div>

<div class='benefit-wrapper'>
  <h1 class='mybema-benefits-header'>
    See what our users say about us
  </h1>

  <div class='section-descriptor'>
    Customers that engage in brand communities lead to increased revenue. That's the bottom line. But here are 6 other reasons to help convince you.
  </div>

  <div class='benefits-section'>
    <div class='benefits-row'>
      <div class="benefit-wrap">
        <img src="images/barcode.png" class="benefit-icon-large">

        <div>
          <h3>
            Improve your offering
          </h3>

          <p>
            Feedback from your customers or users is invaluable. Good, qualitative information can improve your product or service more than you could ever do by yourself. Online discussions are a fantastic source of feedback.
          </p>
        </div>
      </div>

      <div class="benefit-wrap">
        <img src="images/wallet.png" class="benefit-icon-large">

        <div>
          <h3>
            Increase LTV
          </h3>

          <p>
            Community participation has been proven to be a factor of loyalty and loyal customers are more valuable than once-off customers. By getting your customers to engage in your community, you are increasing their LTV.
          </p>
        </div>
      </div>

      <div class="benefit-wrap">
        <img src="images/lab.png" class="benefit-icon-large">

        <div>
          <h3>
            Generate better ideas
          </h3>

          <p>
            People come up with ideas and share them with others all the time. If they're talking on your community platform, you get easy access to great new ideas.
          </p>
        </div>
      </div>
    </div>

    <div class='benefits-row'>
      <div class="benefit-wrap">
        <img src="images/profile.png" class="benefit-icon-large">

        <div>
          <h3>
            Increase retention
          </h3>

          <p>
            Keep the same customers around for longer. People that participate in branded communities are less likely to churn.
          </p>
        </div>
      </div>

      <div class="benefit-wrap">
        <img src="images/issues.png" class="benefit-icon-large">

        <div>
          <h3>
            Less support tickets
          </h3>

          <p>
            How many times have you had to answer the same question? Your community members can answer queries directed at you before you even have to!
          </p>
        </div>
      </div>

      <div class="benefit-wrap">
        <img src="images/clock.png" class="benefit-icon-large">

        <div>
          <h3>
            Better response times
          </h3>

          <p>
            Dealing with fewer support queries means that you can handle the remaining ones far quicker than usual. Quicker turnaround times mean better customer service.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>