<div class='main-container'>
  <%= render partial: 'shared/notices' %>
  <%= render partial: 'shared/breadcrumbs' %>

  <div class='profile-container'>
    <h1 class='profile-header'>
      Manage your profile
    </h1>

    <div class='profile-description'>
      It's going to take us a while to crunch these numbers. Why don't you try doing some jumping jacks in the meantime? Fitness is very important and you should look after your health!
    </div>

    <%= form_for @current_user, url: update_profile_path, method: :patch do |f| %>
      <div class='profile-mngmt-container'>
        <h2 class='profile-mngmt-header'>
          What's your name?
        </h2>

        <div>
          <%= f.text_field :full_name, class: 'profile-mngmt-email-field' %>
        </div>
      </div>

      <div class='profile-mngmt-container'>
        <h2 class='profile-mngmt-header'>
          What's your email address?
        </h2>

        <div>
          <%= f.email_field :email, class: 'profile-mngmt-email-field' %>
        </div>

        <div class='profile-mngmt-notice'>
          * You've already trusted us enough to sign up. We will only email you as part of your ongoing use of A Game of Tags. We hate spam as much as you do.
        </div>
      </div>

      <div class='profile-mngmt-btn-wrapper'>
        <%= f.submit 'UPDATE PROFILE', class: 'profile-mngmt-email-btn' %>
      </div>
    <% end %>
  </div>
</div>