<div class='main-container'>
  <div class="tabs is-boxed">
    <ul>
      <li>
        <%= link_to new_query_path do %>
          <i class="fa fa-image"></i> New search
        <% end %>
      </li>

      <li class="is-active">
        <%= link_to searches_path do %>
          <i class="fa fa-music"></i> Previous searches
        <% end %>
      </li>

      <li>
        <a><i class="fa fa-film"></i> Help</a>
      </li>
    </ul>
  </div>

  <div class="search-container search-results">
    <table class="table ">
      <thead>
        <tr>
          <th>Query</th>
          <th>Complete?</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @searches.each do |query| %>
          <tr>
            <td>
              <% query.query_terms.each do |tag| %>
                <span class="tag">
                  <%= tag %>
                </span>
              <% end %>
            </td>
            <td><%= query.complete? %></td>
            <td><%= link_to 'show top hashtags', results_path(query) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<style type="text/css">
  .search-results {
    padding: 0.5em 1.5em;
  }

  .main-container {
    margin: 80px auto 0;
    width: 80%;
  }

  .search-container {
    margin-top: -20px!important;
    margin-bottom: 50px;
    background-color: white;
    min-height: 500px;
    border-left: 1px solid #d3d6db;
    border-right: 1px solid #d3d6db;
    border-bottom: 1px solid #d3d6db;
  }

  .search-field-wrapper {
    padding: 2em;
    text-align: center;
  }

  .ctr-txt {
    text-align: center;
  }

  .tag-search-input {
    width: 90%;
    padding: 0.35em;
  }
</style>